body {
  font-family: "Open Sans", sans-serif;
}

.card-title {
  font: 500 1.25rem "Lobster", cursive;
}

.card-img-overlay .card-title { /*Select for elements with card-title class that are decendants of elements with the card-img-overlay class only. Just card titles that are inside overlayed images*/
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
} 